/shelf/
/workspace.xml
.idea/
COPYING
.flatpak/
.vscode/
builddir/
data/icons/icons/symbolic/lyrics-symbolic.svg
data/icons/icons/symbolic/publish-symbolic.svg
io.github.dzheremi2.lrcmake-gtk.flatpak
.flatpak-builder/
repo/
flathub/
build/
_build/
po/qa.po
