#cover {
  border-radius: 12px;
}

#play {
  opacity: 0;
  transition: 0.3s;
}

#hover {
  border-radius: 12px;
  transition: 0.2s;
}

#play:hover {
  opacity: 1;
}

#hover:hover {
  background-color: #000;
  opacity: 0.5;
  border-radius: 12px;
}

#sync_page_cover {
  border-radius: 10px;
}

#import_lyrics {
  background-color: #1b1b1b;
}

#export_lyrics {
  background-color: #1b1b1b;
}
